In [1]:
import pandas as pd
import requests
import logging
import time
import numpy as np

import folium
from folium import plugins

In [2]:

import pyodbc 
server = '10.46.64.204' 
database = 'DRPZ_ReportsDB' 
username = 'Shiryaeva_EI' 
password = 'Rosbank11348' 

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [35]:
stmt = "SELECT * FROM esh.tracks2 " 
# stmt = "SELECT * FROM dbo.boo_filials_new " 
df_users = pd.read_sql_query(stmt, cnxn)

 
df_users.head(5)

    timestamp          latitude         longitude
0  2019-07-31  55.6876844221271  37.4809951499861
1  2019-07-31  55.6667322140925  37.5077126846731

In [36]:
df_users["lat"]  = df_users["latitude"].apply(pd.to_numeric, errors='coerce')
df_users["long"]  = df_users["longitude"].apply(pd.to_numeric, errors='coerce')
df_users["time"]  = pd.to_datetime(df_users["timestamp"])  
df_users.dtypes

timestamp            object
latitude             object
longitude            object
lat                 float64
long                float64
time         datetime64[ns]
dtype: object

In [37]:
df_tracks_day = df_users 
df_tracks_day = df_tracks_day.sort_values(by=["timestamp"])
df_tracks_day.head()

df_

,timestamp,latitude,longitude,lat,long,time
0,2019-07-31,55.6876844221271,37.4809951499861,55.687684,37.480995,2019-07-31
1,2019-07-31,55.6667322140925,37.5077126846731,55.666732,37.507713,2019-07-31

In [38]:
lat_center =  np.mean([df_tracks_day["lat"].min(), df_tracks_day["lat"].max()])
long_center =  np.mean([df_tracks_day["long"].min(), df_tracks_day["long"].max()])

In [39]:
locations = df_tracks_day.loc[:,["lat", "long"]]
locations.head()

         lat       long
0  55.687684  37.480995
1  55.666732  37.507713

In [40]:
locationlist = locations.values.tolist()
times = df_tracks_day.loc[:,"timestamp"]
times

0    2019-07-31
1    2019-07-31
Name: timestamp, dtype: object

In [41]:
map_track = folium.Map(
    location = [ lat_center, long_center]   ,
    zoom_start = 14
)

# for i in range(0,len(df[2])):
#     folium.Marker(locationlist[i], popup=df.iloc[i][1]).add_to(map_track)
     

plugins.MarkerCluster(locationlist, popups = times).add_to(map_track) 
map_track.save(outfile= "test.html")
map_track